<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{endpoint_count}}</title>
<style>
body {
    font-family: verdana;
}
.document_endpoints table {
    border: 1px solid #e7e7e7;
    background-color: #fafafa;
    border-collapse: collapse;
}
.document_endpoints th,
.document_endpoints td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
</style>
</head>
<body>

<div class="document_endpoints">

<h1>{{endpoint_count}}</h1>

<table>
    <thead>
        <tr>
            <th>Security</th>
            <th>Method</th>
            <th>Route</th>
            <th>Purpose</th>
            <th>Class</th>
        </tr>
    <thead>

    <tbody>
    {{#endpoint}}
        <tr>
            <td>{{security}}</td>
            <td>{{method}}</td>
            <td>{{route}}</td>
            <td>{{purpose}}</td>
            <td>{{class}}</td>
        </tr>
    {{/endpoint}}
    <tbody>

</table>

</div>

</body>
</html>
